{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": 2,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 0,
        "y": 0
      },
      "id": 8,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "none"
        }
      },
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  thermometer AS \"Temperatur\"\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "pm10"
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Temperature",
      "type": "timeseries"
    },
    {
      "fieldConfig": {
        "defaults": {
          "decimals": 1,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "celsius"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 4,
        "x": 8,
        "y": 0
      },
      "id": 4,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  thermometer\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "pm10"
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Temperature",
      "type": "stat"
    },
    {
      "fieldConfig": {
        "defaults": {
          "decimals": 1,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "celsius"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 4,
        "x": 12,
        "y": 0
      },
      "id": 6,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  thermometer2\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Temperature",
      "type": "stat"
    },
    {
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "celsius"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 16,
        "y": 0
      },
      "id": 10,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "none"
        }
      },
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  thermometer2\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Temperature",
      "type": "timeseries"
    },
    {
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "max": 103500,
          "min": 101500,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 0,
        "y": 5
      },
      "id": 16,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "none"
        }
      },
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  barometer \nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Atmospheric Pressure",
      "type": "timeseries"
    },
    {
      "fieldConfig": {
        "defaults": {
          "decimals": 1,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "pressurehpa"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 4,
        "x": 8,
        "y": 5
      },
      "id": 21,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  barometer\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Atmospheric Pressure",
      "type": "stat"
    },
    {
      "fieldConfig": {
        "defaults": {
          "decimals": 1,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "humidity"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 4,
        "x": 12,
        "y": 5
      },
      "id": 22,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  humidity\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Humidity",
      "type": "stat"
    },
    {
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "humidity"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 8,
        "x": 16,
        "y": 5
      },
      "id": 20,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "none"
        }
      },
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  humidity\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Humidity",
      "type": "timeseries"
    },
    {
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "dB"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 19,
        "x": 0,
        "y": 10
      },
      "id": 18,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "none"
        }
      },
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  microphone AS \"Temperatur\"\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"microphone\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Sound Level",
      "type": "timeseries"
    },
    {
      "fieldConfig": {
        "defaults": {
          "decimals": 1,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "dB"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 5,
        "x": 19,
        "y": 10
      },
      "id": 24,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  microphone\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Humidity",
      "type": "stat"
    },
    {
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "μW/cm²"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 19,
        "x": 0,
        "y": 15
      },
      "id": 14,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "none"
        }
      },
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  brightness2\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"brightness2\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "UV-Intensity",
      "type": "timeseries"
    },
    {
      "fieldConfig": {
        "defaults": {
          "decimals": 1,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "μW/cm²"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 5,
        "x": 19,
        "y": 15
      },
      "id": 23,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  brightness2\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Humidity",
      "type": "stat"
    },
    {
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false,
            "stacking": {
              "group": "A",
              "mode": "none"
            },
            "thresholdsStyle": {
              "mode": "off"
            }
          },
          "mappings": [],
          "max": 300,
          "min": 75,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "lux"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 19,
        "x": 0,
        "y": 20
      },
      "id": 12,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "none"
        }
      },
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  brightness\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"brightness\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Brightness",
      "type": "timeseries"
    },
    {
      "fieldConfig": {
        "defaults": {
          "decimals": 1,
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "lux"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 5,
        "w": 5,
        "x": 19,
        "y": 20
      },
      "id": 25,
      "options": {
        "colorMode": "value",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "{{ inv_dm.grafana.datasources.timescale_name }}",
          "format": "time_series",
          "group": [],
          "metricColumn": "none",
          "rawQuery": true,
          "rawSql": "SELECT\n  time_index AS \"time\",\n  brightness\nFROM mtmainservice.etsenseboxobserved\nWHERE\n  $__timeFilter(time_index) AND\n  entity_id = 'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'\nORDER BY 1",
          "refId": "A",
          "select": [
            [
              {
                "params": [
                  "\"pm2.5\""
                ],
                "type": "column"
              }
            ]
          ],
          "table": "mtmainservice.etairqualityobserved",
          "timeColumn": "time_index",
          "timeColumnType": "timestamptz",
          "where": [
            {
              "name": "$__timeFilter",
              "params": [],
              "type": "macro"
            },
            {
              "datatype": "text",
              "name": "",
              "params": [
                "entity_id",
                "=",
                "'urn:ngsi-ld:SenseBoxObserved:Box1-{{ inv_demo_use_cases.air_quality_osm.sensor_id }}'"
              ],
              "type": "expression"
            }
          ]
        }
      ],
      "title": "Humidity",
      "type": "stat"
    }
  ],
  "refresh": "",
  "schemaVersion": 34,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "60"
    ]
  },
  "timezone": "Europe/Berlin",
  "title": "AirQuality OSM",
  "uid": "m8TS1hBnz",
  "version": 8,
  "weekStart": ""
}
